addDefaultStructures=B"true"
articleCommentsEnabled=B"true"
charactersblacklist=[ \
  "&", \
  "'", \
  "@", \
  "\\", \
  "]", \
  "\}", \
  ":", \
  "\=", \
  ">", \
  "/", \
  "<", \
  "[", \
  "\{", \
  "%", \
  "+", \
  "#", \
  "`", \
  "?", \
  "\"", \
  ";", \
  "*", \
  "~", \
  ]
checkInterval=I"5"
customTokenNames=[ \
  ]
customTokenValues=[ \
  ]
displayFieldName=B"false"
enableContentTransformerListener=B"true"
errorTemplateFTL="$\{resource:com/liferay/journal/dependencies/error.ftl\}"
expireAllArticleVersionsEnabled=B"true"
indexAllArticleVersionsEnabled=B"false"
journalArticleExportImportProcessorCacheEnabled=B"true"
journalArticleMaxVersionCount=I"0"
journalArticlePageBreakToken="@page_break@"
publishToLiveByDefaultEnabled=B"true"
singleAssetPublishIncludeVersionHistory=B"false"
termsOfUseJournalArticleGroupId=L"0"
termsOfUseJournalArticleId=""
versionHistoryByDefaultEnabled=B"true"